main {
    max-width: 50%;
	margin: 0 auto;
    padding: 25px 25px;
    text-align: center;
}

.liste-articles {
    margin: 25px 0 0 0;
    text-align: center;
}

.article {
    text-align: left;
    margin: 25px 5px 5px 5px;
    padding: 15px;
	box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.2);
}