.profil h1{
    text-align: center;
}

.profil-image {
    display: inline-block;
    height: 250px;
    width: 250px;
    object-fit: cover;
	border-radius: 50%;
}

.profil-infos {
    display: inline-block;
    vertical-align: top;
    padding-left: 1vw;
}